<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projection</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- CSS -->
    <link rel="stylesheet" href="dist/css/style.min.css">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700" rel="stylesheet">
</head>
<body>

    <main class="main">

        <!-- Greatings -->
        <step class="step" v-bind:class="cssStatus(0)">
            <div class="step__description">Welcome! I'll make some questions to help. Ok ?!</div>
            <button class="step__button" v-on:click="goTo(1)">Next</button>
        </step>

        <!-- Investiment -->
        <step class="step" v-bind:class="cssStatus(1)">
            <div class="step__description">I want to invest</div>
            <input class="step__input" type="text" v-model="investiment">
            <button class="step__button" v-on:click="goTo(2)">Next</button>
        </step>

        <!-- Percent by year -->
        <step class="step" v-bind:class="cssStatus(2)">
            <div class="step__description">... with growth of</div>
            <input class="step__input" type="text" v-model="rate"> %
            <div class="step__description">per year ...</div>
            <button class="step__button" v-on:click="goTo(3)">Next</button>
        </step>

        <!-- Time -->
        <step class="step" v-bind:class="cssStatus(3)">
            <div class="step__description">... for</div>
            <input class="step__input" type="text" v-model="time">
            <div class="step__description">years.</div>
            <button class="step__button" v-on:click="process">Next</button>
        </step>

        <!-- Result -->
        <step class="step" v-bind:class="cssStatus(4)">
            <div class="step__description">So ... In {{time}} years You'll have:</div>
            <div>
                {{result}}
            </div>
        </step>

    </main>

    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="dist/js/bundle.min.js"></script>
</body>
</html>
