$font-size = 20px

.step
    flex-direction column
    align-items center
    justify-content center
    transform translateX(999px)
    opacity 0
    position absolute
    display inline-flex

    &--active
        transition transform 1s, opacity 2s
        opacity 1
        transform translateX(0)
        position absolute

    &--done
        transition transform 2s, opacity 1s
        opacity 0
        transform translateX(-999px)
        position absolute

    &__description
        color $white
        font-size $font-size
        text-align center

    &__input
        background transparent
        border none
        border-bottom 1px solid #fff
        color #fff
        font-size $font-size
        text-align center
        margin 10px 0
        width 75%
        font-family $font-nano

        &:hover
        &:active
        &:focus
            border: none;
            outline: 0;
            border-bottom: 1px solid #fff

    &__button
        background-color transparent
        border-radius 3px
        border 1px solid $white
        color $white
        padding 10px 45px
        font-size 15px
        margin 45px 0 0 0
        font-family $font-nano
