
.step
    flex-direction column
    align-items center
    justify-content center
    transform translateX(999px)
    opacity 0
    position absolute
    display inline-flex
    transition transform 1s, opacity 2s
    width 300px

    &--active
        transition transform 1s, opacity 2s
        opacity 1
        transform translateX(0)
        position absolute

    &--done
        transition transform 2s, opacity 1s
        opacity 0
        transform translateX(-999px)
        position absolute

    &__description
        color $white
        font-size 20px
        text-align center
        margin 0 0 15%

    &__input
        background transparent
        border none
        border-bottom 1px solid #fff
        color #fff
        font-size 30px
        text-align center
        width 75%
        font-family $font-nano

        &:hover
        &:active
        &:focus
            border: none;
            outline: 0;
            border-bottom: 1px solid #fff

    &__actions
        margin 15% 0 0 0

    &__button
        background-color transparent
        border-radius 3px
        border 1px solid $white
        color $white
        padding 10px 45px
        font-size 15px
        font-family $font-nano

    &__link
        color #fff
        cursor pointer
        text-decoration underline
        margin 0 20px 0 0

    &__result
        color #fff
        font-size 30px

@media $600
    .step
        width 400px

        &__description
            font-size 26px

        &__button
            font-size 17px
